* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 3 kolonner */
    grid-template-rows: repeat(3, auto); /* 2 rækker */
    width: 100%;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

figure {
    width: 100%;
    height: 700px;
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
}

