* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: teenage-madness;
    src: url(/fonts/Teenage\ Madness.otf);
}

body {
    background-color: #e6ecf3;
}
.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.logo img {
    height: 70px;
}

.nav-links {
    display: flex;
    gap: 130px;
    font-family: teenage-madness;
}

.nav-links a {
    text-decoration: none;
    font-size: 40px;
    font-weight: bold;
    color: black;
    letter-spacing: 1px;
}

.ikoner img{
    height: 70px;
    margin: 30px;
}

.ikoner {
    display: flex;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main {
    font-family:'Times New Roman', Times, serif;
    background-color: #e6ecf3;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-kurv {
    display: flex;
    width: 100%;
    margin-bottom: 30px;
}

#wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: start;
    align-content: space-evenly;
    justify-items: center;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 100px;
}

figure {
    width: 100%;
    height: 700px;
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
}

.baggrund {
    position: relative; /*Indhold i figure positioneres relativt til den */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px; 
    height: 400px;
}

.baggrund .cirkel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    z-index: 1; /* Baggrunden ligger nederst */
}

.baggrund img:not(.cirkel) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centrerer øl dåsen */
    width: 80%; 
    z-index: 2; /* Øldåsen er over baggrunden */
}

#sharingpack {
    width: 130%;
}

figcaption {
    margin-top: 50px;
}

h2 {
    font-size: 3rem;
    margin-bottom: 10px;
}




.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 20px 50px;
    border-top: 2px solid #ccc;
    margin-top: 20px;
    }
    
    .footer-sektion{
    text-align: center;
    flex: 1;
    }
    
    .footer-sektion h1{
        font-size: 50px;
    }
    
    .footer-sektion p {
        font-size: 16px;
        margin: 5px 0;
    }
    
    .icon{
        width: 60px;
        height: auto;
        margin-top: 7px;
    }
    
    
    .social-icons img{
        width: 70px;    
        margin: 5px;
    }
    
    .payment-icon img{
        width: 270px;
        margin: 5px;
    }
    
    .footer-logo img{
        width: 200px;
        margin: 5px;
    }
    
    
