


.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.zerobuzz #img1 {
    background-image: url(../images/cirkel-humle.png);
    background-size: cover;
}

