body {
    font-family:'Times New Roman', Times, serif;
    background-color: #e6ecf3;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

logo img {
    height: 50px;
}


container {
    display: flex;
    max-width: 900px;
    background-color: #f8f9fc;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

produkt-image img {
    width: 200px;
    height: auto;
}

produkt-details {
    margin-left: 40px;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    text-shadow: 2px 2px black;
}

description {
    font-size: 16px;
    margin-top: 10px;
}

pris {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}