*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: teenage-madness;
    src: url(/fonts/Teenage\ Madness.otf);
}

body {
    font-family:'Times New Roman', Times, serif;
    background-color: #e6ecf3;
    align-items: center;
    height: 100vh;
}

.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo img {
    height: 70px;
}

.nav-links {
    display: flex;
    gap: 130px;
    font-family: teenage-madness;
}

.nav-links a {
    text-decoration: none;
    font-size: 40px;
    font-weight: bold;
    color: black;
    letter-spacing: 1px;
}

.ikoner .ikoner1{
    height: 70px;
    margin: 30px;
}

.container{
    display: flex;
    max-width: 100%;
    padding: 30px;
    border-radius: 10px;
}
.produkt-image img{
    width: 300px;
    height: auto;
    display: flex;
    align-items: center;
}

.produkt-image{
    width: 30%;
    margin-left: 100px;
}

.produkt-info{
    margin-left: 40px;
}

h1{
    font-size: 100px;
    font-weight: bold;
    font-family: teenage-madness;
    text-align: center;
    color: #31386D;
}

.p-beskrivelse {
    font-size: 16px;
    margin-top: 10px;
    text-align: center;
}

.pris {
    font-size: 30px;
    font-weight: bold;
    margin: 20px 0;
    text-align: center;
}

.pack-options {
    display: center;
    gap: 10px;
    margin: 20px 0;
    text-align: center;
}

.packs {
    border: 1px solid black;
    background-color: white;
    padding: 20px 25px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.packs:hover {
    background-color: #ddd;
}

.antal-options {
    display: center;
    gap: 10px;
    margin: 10px 0;
    text-align: center;
}

.antal {
    background-color: white;
    border: 1px solid black;
    padding: 20px 25px;
    cursor: pointer;
    border-radius: 5px;
}

.antal:hover {
    background-color: #ddd;
}

.add-to-cart {
    background-color: #31386D;
    color: white;
    padding: 12px 20px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.add-to-cart:hover {
    background-color: darkblue;
}

.videobox video{
    position: sticky;
    width: 100%;
}

.infografik img{
    display: block;

}

.container-1 {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: url('/images/ny-baggrund.png')center/contain no-repeat;
    background-size: 100%;
    background-position: center top;
    color: white;
    background-color: #E9F5F8;
}

.infografik-elemeter {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
    }

.ingredient-1{
    position: absolute;
    top: 265%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E9F5F8;
    border-radius: 1em;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}


ingredient {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
    width: 60%;
    max-width: 500px;
}

.ingredient img {
    width: 60px;
    height: 60px;
    margin-right: 15px;
}
.ingredient.show {
    opacity: 1;
    transform: translateY(0);
}

.anbefaling-sektion{
    display: flex;    
    align-items: center;    
    justify-content: space-between;    
    max-width: 900px;    
    margin: auto;
}

.text-content {
    text-align: left;
    width: 60%;
}


p {
    font-size: 16px;
    color: #333;
    text-align: center;
}

.produkt-image {
    position: relative;
    width: 300px;
}

.cirkel-bg {
    width: 500px;
    height: 500px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.cirkel-bg img {
    width: 300px;
    height: auto;
}

.button-container {
    margin-top: 20px;
    display: flex;
    justify-content:center;
    
}

.see-more {
    background-color: #31386D;
    padding: 15px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    justify-content: center;
    display: flex;
}

.see-more:hover {
    background-color: #ddd;
    
}

.footer{
display: flex;
justify-content: space-between;
align-items: center;
background-color: white;
padding: 20px 50px;
border-top: 2px solid #ccc;
margin-top: 20px;
}

.footer-sektion{
text-align: center;
flex: 1;
}

.footer-sektion h1{
    font-size: 50px;
}

.footer-sektion p {
    font-size: 16px;
    margin: 5px 0;
}

.icon{
    width: 60px;
    height: auto;
    margin-top: 7px;
}


.social-icons img{
    width: 70px;    
    margin: 5px;
}

.payment-icon img{
    width: 270px;
    margin: 5px;
}

.footer-logo img{
    width: 200px;
    margin: 5px;
}
