* {
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: teenagemadness;
    src: url(/fonts/Teenage\ Madness.otf);
}

@font-face {
    font-family: bigshoulder;
    src: url(/fonts/BigShouldersDisplay-VariableFont_wght.ttf);
}

a {
    text-decoration: none;
    color: black;
}

/* navbar styling */

.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo img {
    height: 70px;
}

.nav-links {
    display: flex;
    gap: 130px;
    font-family: teenagemadness;
}

.nav-links a {
    text-decoration: none;
    font-size: 40px;
    font-weight: bold;
    color: black;
    letter-spacing: 1px;
}

.ikoner .ikoner1{
    height: 70px;
    margin: 30px;
}




/* video styling */   
.videobox {
width: 100%;

 
}
.video {
    object-fit: cover;
    width: 100%;
    margin: 0;
    z-index: 2;
}

/* slider styling */

.backgroundslider {
    z-index: 1;
    height: 900px;
    width: 100%;
    position: absolute;
    
}

.produktsliderbox {

    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    margin-top: 10rem;
}

.produktslider {

    position: absolute;
    z-index: 4;
}

.zerobuzz {

    height: 30rem;
}

.cherrybuzz {

    height: 30rem;

}

.lushlemon {
    
    height: 30rem;
}
.prev {
    position: absolute;
    z-index: 3;
    left: 2rem;;
}
.previmage {
    height: 5rem;
    width: 5rem;
}

.next {
    position: absolute;
    z-index: 3;
}

.nextimage {
    height: 5rem;
    width: 5rem;
}
.selectionbutton {
    position: absolute;
    z-index: 3;
    margin-top: 35rem;
    text-decoration: none;
    background-color: #B4EBCA ;
    font-family: bigshoulder;
    height: 3rem;
    width: 10rem;
    font-size: 2rem;
    border-radius: 20px;
}


.talekortbox {
    margin-top: 50rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-between;
    justify-content: space-around;
    align-items: center;
    background-color: ;
}



h2 {
    font-family: 'teenagemadness';
    font-size: 5rem;
}

h3 {
    font-family: 'bigshoulder';
    font-size: 2rem;
    text-align: center;
}

.cardbutton {
position: absolute;
margin-left: -45rem;
margin-bottom: -17rem;
text-decoration: none;
background-color: #B4EBCA ;
font-family: bigshoulder;
height: 3rem;
width: 10rem;
font-size: 2rem;
border-radius: 20px;

}


.talekortimagebox {
display: flex;
}


.talekortimage {

}