* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
/* slider styling */

  .slider-container {
    position: relative;
    width: 1%; /* Adjust the width as needed */
    margin: 0 auto;
    overflow: hidden;
  }
  
  .slider {
    display: flex;
  }
  
  .slide {
    min-width: 100%; /* Each slide takes the full width */
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .slide img {
    width: 100%; /* Ensure the images fill the container */
    height: auto;
  }
  
  button {
    position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    z-index: 1;
  }
  
  .prev {
    left: 0;
  }
  
  .next {
    right: 0;
  }
  
  a.btn-bottom {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
  }
  
  a.btn-bottom:hover {
    background-color: #555;
  }
  